<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>kagoyume.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>kagoyume.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Item</servlet-name>
        <servlet-class>kagoyume.Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>kagoyume.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>kagoyume.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>kagoyume.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrationconfirm</servlet-name>
        <servlet-class>kagoyume.Registrationconfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrationcomplete</servlet-name>
        <servlet-class>kagoyume.Registrationcomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydata</servlet-name>
        <servlet-class>kagoyume.Mydata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydataupdate</servlet-name>
        <servlet-class>kagoyume.Mydataupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>kagoyume.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buyconfirm</servlet-name>
        <servlet-class>kagoyume.Buyconfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buycomplete</servlet-name>
        <servlet-class>kagoyume.Buycomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProcessing</servlet-name>
        <servlet-class>kagoyume.LoginProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top</servlet-name>
        <servlet-class>kagoyume.Top</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydelete</servlet-name>
        <servlet-class>kagoyume.Mydelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydeleteresult</servlet-name>
        <servlet-class>kagoyume.Mydeleteresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydataupdateresult</servlet-name>
        <servlet-class>kagoyume.Mydataupdateresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myhistory</servlet-name>
        <servlet-class>kagoyume.Myhistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Item</servlet-name>
        <url-pattern>/Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrationconfirm</servlet-name>
        <url-pattern>/Registrationconfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrationcomplete</servlet-name>
        <url-pattern>/Registrationcomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydata</servlet-name>
        <url-pattern>/Mydata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydataupdate</servlet-name>
        <url-pattern>/Mydataupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buyconfirm</servlet-name>
        <url-pattern>/Buyconfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buycomplete</servlet-name>
        <url-pattern>/Buycomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProcessing</servlet-name>
        <url-pattern>/LoginProcessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top</servlet-name>
        <url-pattern>/Top</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydelete</servlet-name>
        <url-pattern>/Mydelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydeleteresult</servlet-name>
        <url-pattern>/Mydeleteresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydataupdateresult</servlet-name>
        <url-pattern>/Mydataupdateresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myhistory</servlet-name>
        <url-pattern>/Myhistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
